/*Touch up font weight of card title
padding of placeholder*/

/*input font size*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.input-section {
  background-color: #455A64;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-logo {
  color: white;
  font-size: 4.7rem;
  margin-bottom: 3rem;
}

img {
  width: 6.8rem;
}

form {
  display: flex;
  flex-direction: column;
}

.user-input {
  width: 34.2rem;
  height: 3rem;
  margin-bottom: 3rem;
  padding-top: .9rem;
}

.user-input::placeholder {
  font-size: 2rem;
  color: lightgray;
  font-family: 'Open Sans', sans-serif;

}

.enter-btn {
  height: 2.5rem;
  width: 34.3rem;
  background-color: #FFC107;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: white;
  border: none;
}

.enter-btn:hover:enabled {
  background-color: #FFD773;
}

.enter-btn:disabled {
  background-color: grey;
}


.card-section {
  background-color: #CFD8DC;
  overflow-y: scroll;
}


article {
  background-color: white;
  border: 2px solid #607D8B;
  margin: 1.25rem 1.25rem 1.5rem 1.25rem;
  padding: .7rem 1rem;

}

.card-title {
  color: #455A64;
  font-size: 1.75rem;
  border-bottom: 2px solid #CFD8DC;
  padding-bottom: .5rem;

}

.card-url {
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #607D8B;
  border-bottom: 2px solid #CFD8DC;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  padding-bottom: 1rem;
}

.card-url:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
  font-weight: 800;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}


.card-buttons {
  border: none;
  padding: 0;
  background: none;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  font-size: 1rem;
}

.read-btn {

}

.read-btn:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
  font-weight: 800;
}

.read-clicked {
  color: #F05A28;
  border: none;
  background: none;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.article-clicked {
  background-color: #F2F4F4;
}

.url-clicked {
  text-decoration-color: #CFD8DC;
}

.delete-btn {

}

.delete-btn:hover {
  color: #455A64;
  text-decoration-color: #FFC107;
  font-weight: 800;
}

@media screen and (max-width: 1150px) {
  body { 
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
  }

  .title-logo { 
    width: 60%;
    font-size: 2.3rem;
    text-align: center;
    margin: 1.5rem 0rem;
  }

  img {
    width: 3.2rem;
  }

  form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .user-input {
    width: 90%;
    margin-bottom: 1.5rem;
    height: 3.5rem;
  }

  .enter-btn {
    margin-bottom: 2rem;
    width: 90.2%;
    height: 3rem;
  }
}


