* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.input-section {
  align-items: center;
  background-color: #455A64;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-logo {
  color: white;
  font-size: 4.7rem;
  margin-bottom: 3rem;
}

img {
  width: 6.8rem;
}

form {
  display: flex;
  flex-direction: column;
}

.user-input {
  font-size: 2.5rem;
  height: 3rem;
  margin-bottom: 3rem;
  padding: 0 0 .2rem .5rem;
  width: 34.2rem;
}

.user-input::placeholder {
  color: lightgray;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;

}

.enter-btn {
  background-color: #FFC107;
  border: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 34.3rem;
}

.enter-btn:hover:enabled {
  background-color: #FFD773;
}

.enter-btn:disabled {
  background-color: grey;
}

.counter-wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 2.7rem;
  width: 80%;
}

.clear-read-links {
  background-color: #FFC107;
  border: none;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
}

.card-section {
  background-color: #CFD8DC;
  overflow-y: scroll;
}

article {
  animation-duration: .5s;
  animation-name: slidein;
  background-color: white;
  border: 2px solid #607D8B;
  margin: 1.25rem 1.25rem 1.5rem 1.25rem;
  padding: .7rem 1rem;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
    width: 98%;
  }
}

.card-title {
  border-bottom: 2px solid #CFD8DC;
  color: #455A64;
  font-size: 1.75rem;
  padding-bottom: .5rem;
}

a {
  color: #607D8B;
  font-size: 1.4rem;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.card-url {
  color: #607D8B;
  border-bottom: 2px solid #CFD8DC;
  font-size: 1.4rem;
  margin: 1rem 0;
  padding-bottom: 1rem;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.card-url:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-buttons {
  background: none;
  border: none;
  color: #455A64;
  font-size: 1rem;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.read-btn:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.read-clicked {
  color: #F05A28;
  border: none;
  background: none;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.article-clicked {
  background-color: #F2F4F4;
}

.url-clicked {
  text-decoration-color: #CFD8DC;
}

.delete-btn:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}


@media screen and (max-width: 1150px) {
  
  body { 
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
  }

  .title-logo { 
    font-size: 3rem;
    margin: 1.5rem 0rem;
    text-align: center;
  }

  img {
    width: 3.8rem;
  }

  form {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .user-input {
    font-size: 2.5rem;
    height: 3.5rem;
    margin-bottom: 1.5rem;
    padding: 0 0 .2rem .5rem;
    width: 90%;
  }

  .enter-btn {
    height: 3rem;
    margin-bottom: 2rem;
    width: 90.2%;
  }

  .clear-read-links {
    margin-bottom: .5rem;
  }
}

@media screen and (max-width: 600px) {

  .title-logo {
    font-size: 1.5rem;
  }

  img {
    width: 2.2rem;
  }

  .user-input {
    font-size: 2rem;
    height: 2.5rem;
  }

  .user-input::placeholder {
    font-size: 1.7rem;
  }

  .enter-btn {
    font-weight: 400;
    height: 2.5rem;
    margin-bottom: 0;
  }

  .counter-wrapper {
    align-items: center;
    flex-direction: column;
    font-size: .8rem;
    margin: 1rem;
  }

  .clear-read-links {
    margin-bottom: 1rem;
  }
}